@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
body{
    background-color: hsl(212, 45%, 89%);
    display: grid;
    min-height: 100vh;
    place-content: center;

}
.qr-code{
    border-radius: 10px;
}
.main-container{
    background-color: #fff;
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 25px;
    margin: 50px 0px;
    box-shadow: 0px 0px 10px hsla(219, 15%, 55%, 0.502);
}
.detail-container{
    margin: 10px;
}
.title{
    font-size: 1.5em;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-bottom: 10px;
    margin-top: 10px;
}
.subtitle{
    color:  hsl(220, 15%, 55%);
}
